<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/style.css">
    <title>Welcome</title>
</head>
<body>
    <div class ="container">
    <h1> Welcome to Express Pizza</h1>
    <h2>Specialty Pizzas</h2>

    <ul class="list">
        <li>
            <a href="/special?name=Anchovy+Lovers&price=15">Anchovy Lover's</a>
        </li>
        <li>
            <a href="/special?name=Paleo+Pizza&price=16">Paleo Pizza</a>
        </li>
       <li>
            <a href="/special?name=Dessert+Pizza&price=14">Dessert Pizza</a>
        </li>
    </ul>

    <h2>Custom Pizza</h2>

    <p><a href="/build"> Build your own!</a></p>

    <h2>Leave a review</h2>
    <p><a href="/review"> Click here to leave a review</a></p>

    <img src="/pizza.png" alt="pizza image">

    </div>
</body>
</html>